{% extends "base.html" %}
{% block title %}Purchase{% endblock %}

{% block content %}
    <div class="styled-form login-form">
        <h2 class="block mb-2">Store</h2>
        {% for product, prices in products.items %}
            {% for price in prices %}
                <h5>{{ product.name }}</h5>
                <h5 class="mb-2">{{ price.product.description }}</h5>
                <form action="{% url 'purchase' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ price.id }}">
                    <button type="submit" class="btn btn-blue">${{ price.price }}</button>
                </form>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
