{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="styled-form login-form">
        {% if validlink %}
            <h3 class="font-weight-light my-4 text-center">Reset your password</h3>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <fieldset class="fieldset-small">
                    <div class="form-row">
                        <label class="small mb-1" for="id_new_password1">New Password</label>
                        <input type="password"
                               name="new_password1"
                               autocomplete="new-password"
                               class="form-control"
                               required id="id_new_password1"
                               placeholder="Enter password"/>
                    </div>

                    <div class="form-row">
                        <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                        <input type="password"
                               name="new_password2"
                               autocomplete="new-password"
                               required id="id_new_password2" class="form-control"
                               placeholder="Confirm password"/>
                    </div>
                </fieldset>

                <div class="form-row">
                    <button type="submit" class="btn btn-blue mt-5" id="reset">Reset Password</button>
                </div>
            </form>

        {% else %}
            <div class="alert alert-warning">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
        {% endif %}
        </form>
    </div>
{% endblock content %}
